@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus'; 


/* https://www.skeleton.dev/docs/svelte/tailwind-components/forms */
.select,
.input,
.textarea,
.ig-input,
.ig-select {
    background-color: var(--color-surface-50-950);
    color: var(--color-surface-950-50);
}

/* https://www.skeleton.dev/docs/svelte/guides/mode */
@custom-variant dark (&:where(.dark, .dark *));